{% extends 'base.html' %}
{% block content%}
<div class="row">
    <h3 class="center-align">Edit Category</h3>
    <!-- Begin Edit Category Form -->
    <div class="row">
        <form action="{{url_for('updateCategory', category_id=category._id)}}" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">poll</i>
                    <input id="category_name" name="category_name" type="text" value="{{category.category_name}}" required>
                    <label for="icon_prefix">Category Name</label>
                </div>
            </div>
            <div class="row center-align">
                <button class="btn waves-effect waves-light green" type="submit">Update Category
                    <i class="material-icons right">update</i>
                </button>
            </div>
        </form>
    </div>
    <!-- End Edit Category Form -->
</div>
{% endblock%}