{% extends 'base.html' %}
{% block content %}
<h3>Edit Recipe</h3>
<div class="row">
    <!-- Begin Form -->
    <form action="{{url_for('updateRecipe', recipe_id=recipe._id)}}" method="POST" class="col s12">
        <!-- Begin Recipe Category Select Element -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">poll</i>
                <select id="category" name="category_name">
                    <option disabled>Choose Category</option>
                    {% for category in categories %}
                        {% if category.category_name == recipe.category_name %}
                        <option value="{{category.category_name}}" selected>{{category.category_name}}</option>
                        {% else %}
                        <option value="{{category.category_name}}">{{category.category_name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label>Recipe Category</label>
            </div>
        </div>
        <!-- End Recipe Category Select Element -->
        <!-- Begin Recipe Title Element -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">title</i>
                <input id="recipe_title" type="text" name="recipe_title" class="validate" value="{{recipe.recipe_title}}" required>
                <label for="recipe_title">Recipe Name</label>
            </div>
        </div>
        <!-- End Recipe Title Element -->
        <!-- Begin Recipe Author Element -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">person</i>
                <input id="recipe_author" type="text" name="recipe_author" class="validate" value="{{recipe.recipe_author}}" required>
                <label for="recipe_author">Recipe Author</label>
            </div>
        </div>
        <!-- End Recipe Author Element -->
        <!-- Begin Recipe Description Element -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">description</i>
                <input id="recipe_description" type="text" name="recipe_description" class="validate" value="{{recipe.recipe_description}}" required>
                <label for="recipe_description">Recipe Description</label>
            </div>
        </div>
        <!-- End Recipe Description Element -->
        <!-- Begin Recipe Duration Element -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">access_time</i>
                <input id="recipe_duration" type="text" name="recipe_duration" class="validate" value="{{recipe.recipe_duration}}" required>
                <label for="recipe_duration">Recipe Estimated Duration</label>
            </div>
        </div>
        <!-- End Recipe Duration Element -->
        <!-- Begin Recipe Ingredients Element -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">format_list_numbered</i>
                <textarea name="recipe_ingredients" id="recipe_ingredients" class="materialize-textarea" required>{% for ingredient in ingredients %}{{ingredient}}{% endfor %}</textarea>
                <label for="recipe_ingredients">Recipe Ingredients</label>
            </div>
            <p id="form-helper1" class="helper-message element-hide">Press 'Enter' to add a new line!</p>
        </div>
        <!-- End Recipe Ingredients Element -->
        <!-- Begin containsAllergens Switch Element -->
        <div class="row">
            <div class="switch">
                <label>
                    {% if recipe.containsAllergens %}
                    <input id="containsAllergens" name="containsAllergens" type="checkbox" checked>
                    {% else %}
                    <input id="containsAllergens" name="containsAllergens" type="checkbox">
                    {% endif %}
                    <span class="lever"></span>
                    Contains Allergens?
                </label>
            </div>
        </div>
        <!-- End containsAllergens Switch Element -->
        <!-- Begin Recipe Allergens Element -->
        <div class="row element-hide" id="allergens-field">
            <div class="input-field col s12">
                <i class="material-icons prefix">description</i>
                <input id="recipe_allergens" type="text" name="recipe_allergens" class="validate" value="{{recipe.recipe_allergens}}" required>
                <label for="recipe_allergens">Allergens</label>
            </div>
        </div>
        <!-- End Recipe Allergens Element -->
        <!-- Begin Recipe Steps Element -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">format_list_numbered</i>
                <textarea name="recipe_steps" id="recipe_steps" class="materialize-textarea" required>{% for step in recipeSteps %}{{step}}{% endfor %}</textarea>
                <label for="recipe_ingredients">Recipe Steps</label>
            </div>
            <p id="form-helper2" class="helper-message element-hide">Press 'Enter' to add a new line!</p>
        </div>
        <!-- End Recipe Steps Element -->
        <div class="row center-align">
            <button class="btn waves-effect waves-light green" type="submit">Update Recipe
                <i class="material-icons right">update</i>
            </button>
        </div>
    </form>
    <!-- End Form -->
</div>
{% endblock %}
{% block js %}
<script>
    $(function(){
        // once the page loads, check if the 'containsAllergens' button is checked
        if($("#containsAllergens").is(":checked")){
            // if it is then bring into view the 'recipe_allergens' input field
            $("#allergens-field").removeClass("element-hide")
        }else{
            // otherwise remove all it's properties to make sure it doesn't interfere with form submission
            $("#recipe_allergens").removeAttr("name").removeAttr("required").removeAttr("value");
        }

        // Materialize CSS - Form Select tag initialisation
        $('select').formSelect();

        // Hide/show helper message for 'recipe_ingredients' textarea
        $("#recipe_ingredients").focusin(function(){
            toggleElementClass("#form-helper1", "element-hide");
        });

        $("#recipe_ingredients").focusout(function(){
            toggleElementClass("#form-helper1", "element-hide");
        });

        // Hide/show helper message for 'recipe_steps' textarea
        $("#recipe_steps").focusin(function(){
            toggleElementClass("#form-helper2", "element-hide");
        });

        $("#recipe_steps").focusout(function(){
            toggleElementClass("#form-helper2", "element-hide");
        });  

        // Hide/show allergens input field
        $("#containsAllergens").on("click", function(){
            toggleElementClass("#allergens-field", "element-hide");

            hideShowAllergensField();
        });

        function toggleElementClass(id, className){
            $(id).toggleClass(className);
        }

        function hideShowAllergensField(){
            // check if there is a 'name' attribute already present
            if($("#recipe_allergens").attr("name") == "recipe_allergens"){
                // if there is then remove the 'name' attribute and the 'required' property so it doesn't get submitted with the rest of the form
                $("#recipe_allergens").removeAttr("name").removeAttr("required").removeAttr("value");
            }else{
                // otherwise, assign the form element with a 'name' attribute and a 'required' property
                $("#recipe_allergens").attr("name", "recipe_allergens").prop("required", true);
            }
        }
    });
</script>
{% endblock %}